In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df = pd.read_excel('~/Downloads/kaffee.xls')

In [13]:
freq_table = pd.crosstab(index=df['persn'], columns=df['prbew'], margins=True, margins_name='Totals')
freq_table

prbew     1    2   3    4  Totals
persn
1       121   40  10   57     228
2       246   53  15   58     372
3       106   36   6   35     183
4        72   37   4   31     144
5        44   16   4   14      78
Totals  589  182  39  195    1005

In [6]:
stats.chi2_contingency(freq_table.values[:-1, :-1])

(22.85861713006653,
 0.02895050083144257,
 12,
 array([[133.6238806 ,  41.28955224,   8.84776119,  44.23880597],
        [218.01791045,  67.36716418,  14.4358209 ,  72.17910448],
        [107.25074627,  33.14029851,   7.10149254,  35.50746269],
        [ 84.39402985,  26.07761194,   5.5880597 ,  27.94029851],
        [ 45.71343284,  14.12537313,   3.02686567,  15.13432836]]))