In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df = pd.read_excel('~/Downloads/kaffee.xls')

In [3]:
freq_table = pd.crosstab(index=df['marke'], columns=df['alter'], margins=True, margins_name='Totals')
freq_table

alter    1    2    3    4    5  Totals
marke
1        2   13   17   40   65     137
2        3   11    9   28   22      73
3        2   27   17   40   44     130
4        3    7   14   28   14      66
5        4    6    9   18   12      49
6        3   13   23   19   27      85
7        2    9   16   17   16      60
8        4   23   28   47   39     141
9        4   26   52   94   88     264
Totals  27  135  185  331  327    1005

In [4]:
stats.chi2_contingency(freq_table.values[:-1, :-1])

(55.7309589513981,
 0.005799874143603941,
 32,
 array([[ 3.68059701, 18.40298507, 25.21890547, 45.12139303, 44.5761194 ],
        [ 1.96119403,  9.80597015, 13.43781095, 24.04278607, 23.75223881],
        [ 3.49253731, 17.46268657, 23.93034826, 42.8159204 , 42.29850746],
        [ 1.77313433,  8.86567164, 12.14925373, 21.73731343, 21.47462687],
        [ 1.31641791,  6.58208955,  9.0199005 , 16.13830846, 15.94328358],
        [ 2.28358209, 11.41791045, 15.64676617, 27.99502488, 27.65671642],
        [ 1.6119403 ,  8.05970149, 11.04477612, 19.76119403, 19.52238806],
        [ 3.7880597 , 18.94029851, 25.95522388, 46.43880597, 45.87761194],
        [ 7.09253731, 35.46268657, 48.59701493, 86.94925373, 85.89850746]]))

p<0.05, отже гіпотеза про незалежність відкидається